/112-1_G11_Project2.pdf
/Adobe Premiere Pro Audio Previews
/Adobe Premiere Pro Auto-Save
/DB_CLASS_2023-main
/DB_CLASS_2023-main.zip
/DB_CLASS_2023-main_GR11
/HW2.docx
/HW2.sql
/hw2_M124020010_鄭雅云.pdf
/hw3_M124020010_鄭雅云.pdf
/hw4_M124020010_鄭雅云.pdf
/manager_add原程式.txt
/SQL Supplement (1) (1).pdf
/商品管理.png
/商品資訊.png
/期中考
/期末考
/第三周
/第十一組.pdf.pdf
/第四周
/系統架構.pptx
/訂單管理.png
/資料分析.png
/資料庫.prproj
/資料庫_查詢3.mp4